* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.wholePage {
    margin: 0 auto;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.indexPageIntroHeader {
    width: 510px;
}

.indexPageIntroText {
    width: 425px;
}

p {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68
}

.menuNavig a {
    text-decoration: none;
    font-size: 30px;
    color: #1F3F68;
    display: inline;
}


.menuItems{
    display: flex;
    justify-content: start;
    list-style: none;
}
.menuItems li:nth-child(n+2){
    margin-left: 5%;

}

.indexPageIntro {
    width: 50%;
}

.promotion {
    width: 340px;
    padding: 2% 0;
    text-align: left;
}

.promotionHeader {
    text-align: left;
}

.promotionText {
    width: 495px;
}

.contactInfoList {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.indexPageIntro h1 {
    font-size: 64px;
    color: #1F3F68;
}

.companyGoals {
    padding-top: 2%;
    display: flex;
    flex-flow: row;
    text-align: start;
    box-sizing: border-box;
    padding-bottom: 2%;
    justify-content: space-between;
}

.companyGoal {
    width: 359px;
}

.companyAchievments {
    text-align: center;
}

.contPageIntro {
    padding: 2% 0;
    font-weight: 500;
    font-size: 34px;
    text-align: center;
}

h3 {
    font-size: 36px;
    text-align: center;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.ourIcon {
    text-align: center;
    display: block;
}

.inputToContact {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
}

.contPageInfo {
    padding-top: 1%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 1%;

}

.contactsInfo li {
    list-style-type: upper-roman;
    list-style-position: inside;
}


.messageSend {
    border: 1px solid #5A98D0;
    border-radius: 15px;
    box-sizing: border-box;
    border-collapse: collapse;
    text-align-last: center;
    margin: 1px;
}

.messageForm {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.textAreaMessage {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border-color: #5A98D0;
    border-left: 0px;
    border-right: 0px;
    align-self: center;
    width: 97.5%;
    resize: none;
}

.textAreaMessage:focus {
    border: 1px solid#5A98D0;
    outline: none;
    border-left: 0px;
    border-right: 0px;
}

.sendMessToServ {
    border-radius: 5px;
    border: 1px solid #5A98D0;
    text-align: center;
    background-color: white;
    margin-bottom: 10%;
}

.sendMessToServ:hover {
    background-color: lightblue;
}