* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.wholePage {
    margin: 0 auto;
}

.contactsPageContainer {
    margin: 0 auto;
    width: 480px;
    width: 940px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.containerContPage {
    width: 940px;
    margin: 0 auto;
}

p {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68
}

.menuNavigMainPage {
    padding-top: 34px;
    margin-bottom: 107px;
}

.menuNavigContPage {
    padding-top: 34px;
    margin-bottom: 54px;
}


.menuItems {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.indexPageStart {
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    padding-bottom: 64px;
}

.indexPageIntroBox {
    display: flex;
}

.indexPageIntroHeader {
    width: 504px;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    padding-bottom: 32px;
}

.indexPageIntroText {
    width: 425px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    margin-bottom: 71px;
}

.indexPageIntroButtonBox {
    width: fit-content;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
}

.indexPageIntroButton {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

.indexPageIntroImageBox {
    margin-left: 82px;
    align-self: flex-end;
    margin-bottom: 60px;
}

.indexPageMainInfo {
    margin-top: 64px;
}

.indexPageMainInfoHeader {
    width: 1137px;
    text-align: center;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
}

.indexPageMainInfoPreview {
    margin-bottom: 64px;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}


.indexPageIntro h1 {
    font-size: 64px;
    color: #1F3F68;
}

.companyGoals {
    display: flex;
    flex-flow: row;
    text-align: start;
    box-sizing: border-box;
    justify-content: space-between;
    margin-bottom: 64px;
    justify-content: space-between;
    align-items: center;
}

.companyGoal {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 44px 32px;
    box-sizing: border-box;
}

.companyGoalHeader {
    width: 283px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
}

.companyGoalParagraphBox {
    width: 294px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    margin-bottom: 28px;
}

.goalPhoto1 {
    margin-left: 38px;
    margin-bottom: 51px;
}

.goalPhoto2 {
    margin-left: 84px;
    margin-bottom: 44px;
}

.goalPhoto3 {
    padding-top: 4px;
    margin-left: 62px;
    margin-bottom: 48px;
}

.companyGoalLinkBox {
    vertical-align: middle;
}

.companyGoalLink {
    display: flex;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
    padding-right: 23px;
    text-align: center;
}

.vectorArrow {
    display: block;
    margin-left: 24px;

}

.companyAchievments {
    text-align: center;
    margin-bottom: 64px;
}

.companyAchievmentsHeader {
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    margin-bottom: 32px;
}

.companyAchievmentsText {
    margin-left: 195px;
    text-align: center;
    width: 750px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #222222;
}

.blockOfPhotosAndAchievments {
    margin-bottom: 112px;
}

.appPhotosBox {
    flex-grow: 1;
}

.smartHomePhotoBox {
    position: relative;
    margin-bottom: 32px;
}

.smartHomePhotoDescription {
    display: inline-block;
    position: absolute;
    font-size: 32px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    top: 64px;
    right: 64px;
}

.appPhotosBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.appPhotoBox {
    position: relative;
}

.appPhotoText {
    position: absolute;
    top: 32px;
    left: 32px;
    font-weight: 400;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;

}

.pageEnd {
    background: #316099;
    padding-top: 91px;
    
}

.footerPromotionAndButtonBox {
    position: relative;
}

.promotionHeader {
    text-align: left;
    padding-bottom: 32px;
    width: 340px;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;

}

.promotionText {

    width: 495px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    padding-bottom: 96px;

}

.LestTalkLink {
    background-color: #5A98D0;
    padding: 15px 80px;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.LestTalkButton {
    position: absolute;
    top: 74px;
    right: 0px;
}

.contactInfo {
    margin-top: 64px;
}

.contactInfoList {
    display: flex;
}

.contactInfoItem {
    list-style-position: outside;
    width: 316px;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-left: 19px;
    margin-left: 19px;
    margin-right: 74px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.license {
    margin-top: 64px;
    padding-bottom: 64px;
}

.licenseText {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}

.contPageIntro {
    margin: 0 auto 57px;
    width: 1366px;
    height: 250px;
    font-weight: 500;
    font-size: 34px;
    background-image: url(Pictures/Mask\ Group5.svg);
}

.contPageIntroHeader {
    padding-top: 51px;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}



.contPageIntroText {
    padding-top: 16px;
    margin: 0 auto;
    width: 780px;
    display: block;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.contactsInfoImg {
    margin-bottom: 56px;
}

.contactsInfoHeader {
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    text-transform: uppercase;
}

.contactsInfoText {
    padding-bottom: 40px;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
    width: 299px;
}

.phoneNumberList li {
    margin-bottom: 16px;
}

.phoneNumberList {
    list-style: inside;
}

.phoneNumberItem {
    text-align: center;
    display: flex;
}

.phoneIcon {
    padding-right: 19px;
}

.onlineService {
    margin-top: 40px;
}

.onlineServicesList li {
    margin-bottom: 16px;
}

.onlineServicesItem {
    text-align: center;
    display: flex;
}

.onlineServicesItem li {
    margin-bottom: 16px;
}

.onlineServIcon {
    padding-right: 19px;
}

.toContactLink {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
}


.inputToContact {
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
}

.contPageInfo {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 96px;
}

.contactsInfo li {
    list-style-type: none;
    list-style-position: inside;
}


.messageSend {
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;

}

.messageSendHeader {
    margin: 56px 0px 48px 56px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    text-transform: uppercase;
}

.inputTypeParam {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
    padding-left: 56px;
    padding-bottom: 8px;
}

.inputToContact {
    width: 428px;
    height: 72px;
    margin: 0 56px 32px;
}

.textAreaMessage {
    margin: 8px 56px 0;
    width: 428px;
    height: 144px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    border-radius: 10px;
    resize: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.2;
    padding: 21px 36px;
    box-sizing: border-box;
}

.sendMessToServ {
    width: 428px;
    height: 72px;
    margin: 0 56px 56px;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    border: 0px;
}

.companyOnMap {
    margin-bottom: 112px;
}